parameters:
  level: 6
  bootstrapFiles:
    - web/core/tests/bootstrap.php
  paths:
    - web/modules/contrib/icon_bundle_api/src
    - web/modules/contrib/icon_bundle_api/tests/src
    - web/modules/contrib/icon_bundle_fontawesome/src
    - web/modules/contrib/icon_field/src
